@use './styles/variables.scss' as *;
:root {
  --primary: #4361ee;
  --gray: #6c757d;
  --light-gray: #f8f9fa;
  height: 100%; 
  margin: 0;
  padding: 0;
 
}

.app{
  min-height: 100vh;
  background-color: var(--white);
}

body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  line-height: 1.6;
  color: #212529;
  background-color: var(--light-gray);
  margin: 0;
  padding: 0;
}